{% extends 'silsite/base.html' %}

{% block content %}
    <div class="login">
        <p>{{ text }}</p>
        <form method='POST'>
            {% csrf_token %}
            <label for="id_username" class="form-label">Имя пользователя</label><br>
            {{ form.username }}
            <label for="id_passowrd" class="form-label">Пароль</label><br>
            {{ form.password }}
            <button type='submit' name='login' id='my_buttons' class="btn btn-primary" style="margin: auto">Войти</button>
        </form>
    </div>
{% endblock %}
